code/node-red/NodeRed-Lux-OctopusGo.json
[{"id":"a0d4c446.574cb8","type":"server-state-changed","z":"3069d85e.67a6b8","name":"Charge Inverter Battery to 80%","server":"449b84c9.310a0c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lux_charging_to_80","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":430,"y":800,"wires":[["ebc87791.335ce8"],[]]},{"id":"d04a5fb9.8ca6","type":"server-state-changed","z":"3069d85e.67a6b8","name":"Charge Inverter Battery to 100%","server":"449b84c9.310a0c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lux_charging_to_100","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":430,"y":920,"wires":[["c2c09d91.07dfd"],[]]},{"id":"cdb5a17a.88505","type":"server-state-changed","z":"3069d85e.67a6b8","name":"Charge Inverter Battery to 90%","server":"449b84c9.310a0c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lux_charging_to_90","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":430,"y":860,"wires":[["313f9a38.e70236"],[]]},{"id":"ebc87791.335ce8","type":"change","z":"3069d85e.67a6b8","name":"Set Target Lux Battery SoC 80%","rules":[{"t":"set","p":"LuxBatTargetSoC","pt":"global","to":"80","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":800,"wires":[[]]},{"id":"313f9a38.e70236","type":"change","z":"3069d85e.67a6b8","name":"Set Target Lux Battery SoC 90%","rules":[{"t":"set","p":"LuxBatTargetSoC","pt":"global","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":860,"wires":[[]]},{"id":"c2c09d91.07dfd","type":"change","z":"3069d85e.67a6b8","name":"Set Target Lux Battery SoC 100%","rules":[{"t":"set","p":"LuxBatTargetSoC","pt":"global","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":920,"wires":[[]]},{"id":"d10e23a0.161fb","type":"function","z":"3069d85e.67a6b8","name":"Turn On and Set Default Target SoC (80%)","func":"if ((global.get(\"LuxBatTargetSoC\") == null) || (global.get(\"LuxBatTargetSoC\") == 0)) {\n    global.set(\"LuxBatTargetSoC\", 80)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1060,"wires":[["615f3965.b528f8","85cb1cc2.1063b"]]},{"id":"1069bebf.80f241","type":"cronplus","z":"3069d85e.67a6b8","name":"Start Lux Battery Charging","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"msg","topic":"payload","payloadType":"str","payload":"ON","expressionType":"cron","expression":"0 30 00 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":440,"y":1060,"wires":[["d10e23a0.161fb","53cf82e4.76abec"]]},{"id":"4799d70e.b4bb58","type":"api-current-state","z":"3069d85e.67a6b8","name":"Get Current Lux Battery SoC","server":"449b84c9.310a0c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.battey_soc","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"current_charge","override_data":"msg","blockInputOverrides":false,"x":1180,"y":1140,"wires":[["12382a8c.7e9975"]]},{"id":"12382a8c.7e9975","type":"function","z":"3069d85e.67a6b8","name":"Stop Charging When Lux Battery Target SoC Reached","func":"var targetSOC = global.get(\"LuxBatTargetSoC\");\n\n// turn off charging if target achieved. If 100% needed then keep charging until 4.30 to balance battery\nif (msg.payload >= targetSOC  && targetSOC < 100) {\n    return [msg,null];\n}\nelse {\n    return [null,msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1580,"y":1140,"wires":[["ac1eae6c.fb169","26f0bf1a.8744c","456a26b9.924928","a4b7258e.b664a8","ef4dd663.681618","331d3d59.624582"],["53cf82e4.76abec"]]},{"id":"53cf82e4.76abec","type":"delay","z":"3069d85e.67a6b8","name":"Delay 10 Mins","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":1180,"wires":[["4799d70e.b4bb58"]]},{"id":"ac1eae6c.fb169","type":"change","z":"3069d85e.67a6b8","name":"Set Target Lux Battery SoC to 0","rules":[{"t":"set","p":"LuxBatTargetSoC","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":1140,"wires":[[]]},{"id":"5a5f9bf3.5fe0e4","type":"cronplus","z":"3069d85e.67a6b8","name":"Stop Lux Battery Charging","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"msg","topic":"payload","payloadType":"str","payload":"OFF","expressionType":"cron","expression":"0 30 04 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":1520,"y":1060,"wires":[["ac1eae6c.fb169","26f0bf1a.8744c","456a26b9.924928","a4b7258e.b664a8","ef4dd663.681618","331d3d59.624582"]]},{"id":"ef4dd663.681618","type":"api-call-service","z":"3069d85e.67a6b8","name":"Turn 100% Charge Off","server":"449b84c9.310a0c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.lux_charging_to_100","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2000,"y":1060,"wires":[[]]},{"id":"456a26b9.924928","type":"api-call-service","z":"3069d85e.67a6b8","name":"Turn 80% Charge Off","server":"449b84c9.310a0c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.lux_charging_to_80","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2000,"y":980,"wires":[[]]},{"id":"26f0bf1a.8744c","type":"api-call-service","z":"3069d85e.67a6b8","name":"Inverter AC Charge - Off","server":"449b84c9.310a0c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.grid_charge_inverter_battery","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2010,"y":880,"wires":[[]]},{"id":"a4b7258e.b664a8","type":"api-call-service","z":"3069d85e.67a6b8","name":"Turn 90% Charge Off","server":"449b84c9.310a0c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.lux_charging_to_90","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2000,"y":1020,"wires":[[]]},{"id":"615f3965.b528f8","type":"api-call-service","z":"3069d85e.67a6b8","name":"Inverter AC Charge - On","server":"449b84c9.310a0c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.grid_charge_inverter_battery","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":1060,"wires":[[]]},{"id":"9462349.248adc8","type":"api-call-service","z":"3069d85e.67a6b8","name":"Lux Battery Discharge - On","server":"449b84c9.310a0c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.inverter_battery_discharge","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":1280,"wires":[[]]},{"id":"85cb1cc2.1063b","type":"api-call-service","z":"3069d85e.67a6b8","name":"Lux Battery Discharge - Off","server":"449b84c9.310a0c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.inverter_battery_discharge","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":1000,"wires":[[]]},{"id":"1de865ee.b262ba","type":"cronplus","z":"3069d85e.67a6b8","name":"Start Lux Battery Discharging","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"msg","topic":"payload","payloadType":"str","payload":"ON","expressionType":"cron","expression":"0 30 04 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":440,"y":1280,"wires":[["9462349.248adc8"]]},{"id":"dc73b822.a81108","type":"server-state-changed","z":"3069d85e.67a6b8","name":"Charge Inverter Battery to 70%","server":"449b84c9.310a0c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lux_charging_to_70","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":430,"y":740,"wires":[["48099dff.997a94"],[]]},{"id":"48099dff.997a94","type":"change","z":"3069d85e.67a6b8","name":"Set Target Lux Battery SoC 70%","rules":[{"t":"set","p":"LuxBatTargetSoC","pt":"global","to":"70","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":740,"wires":[[]]},{"id":"331d3d59.624582","type":"api-call-service","z":"3069d85e.67a6b8","name":"Turn 70% Charge Off","server":"449b84c9.310a0c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.lux_charging_to_70","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2000,"y":940,"wires":[[]]},{"id":"449b84c9.310a0c","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]